---
import PostLayout from '../../layouts/PostLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => {
    return(
      {
        params: { post: `${entry.slug}` }, 
        props: { entry },
      }
    )
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<PostLayout
	title={entry.data.title}
>
  <h1>{entry.data.title}</h1>
  <Content />
</PostLayout>






