---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

const title = "About"
---
<BaseLayout
	title={title}
>
  <div class="flex flex-col w-full items-center">
      <Section>
      <div class="flex flex-col w-full space-y-4">
        <h1>Hi I'm Ethan</h1>
        <span>
         I'm an engineer. I grew up in southern New Jersey, and went to school for Biomedical Engineering at Rutgers University.
        
         I currently live in Morristown, NJ and am working as a Senior Systems Engineer for <b>Biomated Solutions</b> doing a wide variety of engineering tasks. 
        </span>
        <span>
         I like to work at every level of the stack and enjoy doing everything from PCB design all the way up to the User Interface. Whether that's good or not? I don't know, but it certainly has helped introduce me to a lot of new things. 
        
         My hope is to write about some of those thing's in the hopes of reciprocating the help I've received from others along the way.

         Another hope of mine is that by writing on here I will refine my prose, as well as further explore idea's I have. 
        </span>

        <span>
         In my freetime you can find me programming, working on side projects, backpacking, or doing some kind of physical activity mostly running nowadays.
        </span>
      </div>
    </Section>
    <Section>
        <div class="flex flex-col w-full items-center">
          <img class="w-full max-w-[360px]" src="/assets/about/ethan-hawaii.jpg" />
          <span><i>Waimea Canyon, HI</i></span>
        </div>
    </Section>
    <Section>
        <div class="flex flex-col w-full relative py-8 space-y-4">
          <span class="text-xl text-semibold">Tools i use</span>
          <div class="flex flex-col relative">
            <div id="sidebar"></div>
            <ul class="list-none px-[12px]">
              <li><b>Operating System:</b> Ubuntu</li>
              <li><b>Terminal:</b> ZSH/TMUX</li>
              <li><b>Text Editor:</b> Neovim</li>
              <li><b>EDA:</b> OrCAD Capture/KiCAD</li>
              <li><b>CAD:</b> Inventor/Fusion360</li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col w-full relative py-8 space-y-4">
          <span class="text-xl text-semibold">Languages I'm comfortable with in no specific order</span>
          <div class="flex flex-col relative">
            <div id="sidebar"></div>
            <ul class="list-none px-[12px]">
              <li>Rust</li>
              <li>C++</li>
              <li>C</li>
              <li>Haskell</li>
              <li>JavaScript</li>
              <li>Python</li>
              <li>QML</li>
            </ul>
          </div>
        </div>
    </Section>

    <Section>
        <span>
          I began learning software as an autodidact my sophmore year of college, and I've been hooked since. I love working on software that makes things move, but enjoy just moving bits around. I have an interest in hardware as well and find the intersection between hardware and software to be a fascinating design space. 
        </span>
    </Section>
  </div>
</BaseLayout>
<style>
  .tools {
    position: relative;
    padding-left: 0px;
    margin-top: 20px;
  }

  .tools > div {
    position: relative;
  }

  .tools > span {
    font-weight: bold;
  }

  .tools > div > ul {
    list-style-type: none;
    padding: 0px 12px;
  }

  .tools > div > ul > li {
  }

  #sidebar {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 4px;
   height: 100%;
   background-color: var(--text-color);
   padding: 0px;
   margin: 0px;
  }

</style> 