---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
const title = "Home"
---
<BaseLayout
	title={title}
>
	<div class="flex flex-col align-center">
		<PostList/>
	</div>
</BaseLayout>
