<nav>
  <a href="/">POSTS</a>
  <a href="/about">ABOUT</a>
  <a href="/resume">RESUME</a>
  <div></div>
</nav>
<style>
  nav {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }

  a {
    text-decoration: none;
    color: white;
    margin: 12px 20px;
  }


  a:hover {
    color: #AAAAAA;
  }

  nav > div {
    width: 100%;
    height: 1px;
    background-color: #202020;
    position: absolute;
    bottom: 0px;
  }
</style>